@charset "utf-8";
/* CSS Document */
body {
	width: 1024px;
	height: 768px;
	background: #00f;
}

/***** Datos de la cabecera ******/
#mylogo {
	position: fixed;
    top: 0px;
    right: 10px;
}


#myheader {
	position: fixed;
	top: 50px;
	left: 10px;
}

#myheader p {
    color: #ccc;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 32pt;
    font-style: italic;
    font-weight: bold;
    display: table-cell;
}

#myheader span p {
	font-size: 24pt;
}
/***** Datos del menu lateral *****/
#mysidebar {
	position: fixed;
	top: 150px;
	left: 10px;
	width: 200px;
}

#mysidebar ul {
	border: line;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
#mysidebar ul li {
    background-color: #888;
    color: #fff;
}
#mysidebar ul li a {
    background-color: #00f;
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 20px;
}
#mysidebar ul li a:hover {
    background: #ff0;
    border-left: 10px solid #333;
    color: #000;
}

/********** Datos del area de trabajo ************/
/* marcador div del contenido. fija posicion */
#mycontent {
	/* border-style: inset; */
	position: absolute;
	top: 150px;
	left: 200px;
	margin-left: 20px;
}