@charset "utf-8";
/* CSS Document */

/***** Datos de la cabecera ******/
#header {
    background-image: url('../icons/header_bg.jpg');
}
#header p {
    color: #ccc;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 32pt;
    font-style: italic;
    font-weight: bold;
    display: table-cell;
    line-height: 150pt;
}

/***** Datos del menu lateral *****/
#sidebar {
	float: left;
	width: 15%;
}

#sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
#sidebar ul li {
    background-color: #888;
    color: #fff;
}
#sidebar ul li a {
    background-color: #00f;
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 20px;
}
#sidebar ul li a:hover {
    background: #ff0;
    border-left: 10px solid #333;
    color: #000;
}

border-left: 10px solid #00f;

/********** Datos del area de trabajo ************/
#content {
	margin-left: 15%;
    position: relative;
    width: 824px;
    background-image: url('../icons/blue_bg.png');
	background-repeat:repeat-y;
}

#content p {
    font-family: Arial, sans-serif;
    font-size: 32pt;
    font-style: italic;
    font-weight: bold;
}