# presuponemos que en el fichero de configuracion httpd.conf tenemos
# AllowOverride All
AddDefaultCharset UTF-8
Options All -Indexes

# pending: redirigir carpeta raiz de la instalacion a carpeta "agility"

