AddType application/font-sfnt            otf ttf
AddType application/font-woff            woff
AddType application/font-woff2           woff2
AddType application/vnd.ms-fontobject    eot

<FilesMatch ".(eot|ttf|otf|woff|woff2)">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin “*”
    </IfModule>
</FilesMatch>