/*
fonts.css

Copyright  2013-2020 by Juan Antonio Martinez ( juansgaviota at gmail dot com )

This program is free software; you can redistribute it and/or modify it under the terms
of the GNU General Public License as published by the Free Software Foundation;
either version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program;
if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/

/************ estilos asociados a las vistas simplificadas **************/

@font-face {
    font-family: 'futura_condensedbold';
    src: url('../fonts/futuracondensedbold-webfont.eot');
    src: url('../fonts/futuracondensedbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futuracondensedbold-webfont.woff2') format('woff2'),
        url('../fonts/futuracondensedbold-webfont.woff') format('woff'),
        url('../fonts/futuracondensedbold-webfont.ttf') format('truetype'),
        url('../fonts/futuracondensedbold-webfont.svg#futura_condensedbold') format('svg');
}

@font-face {
    font-family: 'roadgeek_2005_engschriftRg';
    src: url('../fonts/roadgeek_2005_engschrift-webfont.eot');
    src: url('../fonts/roadgeek_2005_engschrift-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roadgeek_2005_engschrift-webfont.woff2') format('woff2'),
    url('../fonts/roadgeek_2005_engschrift-webfont.woff') format('woff'),
    url('../fonts/roadgeek_2005_engschrift-webfont.ttf') format('truetype'),
    url('../fonts/roadgeek_2005_engschrift-webfont.svg#roadgeek_2005_engschriftRg') format('svg');
}

@font-face {
    font-family: 'roadgeek_2005_series_b';
    src: url('../fonts/roadgeek_2005_series_b-webfont.eot');
    src: url('../fonts/roadgeek_2005_series_b-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roadgeek_2005_series_b-webfont.woff2') format('woff2'),
    url('../fonts/roadgeek_2005_series_b-webfont.woff') format('woff'),
    url('../fonts/roadgeek_2005_series_b-webfont.ttf') format('truetype'),
    url('../fonts/roadgeek_2005_series_b-webfont.svg#roadgeek_2005_series_b') format('svg');
}

@font-face {
    font-family: "Helvetica Neue LT Std 67 Medium Condensed";
    src: url("../fonts/Helvetica_Neue_LT_Std_67_MdCd.eot"); /* IE9*/
    src: url("../fonts/Helvetica_Neue_LT_Std_67_MdCd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Helvetica_Neue_LT_Std_67_MdCd.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Helvetica_Neue_LT_Std_67_MdCd.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Helvetica_Neue_LT_Std_67_MdCd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Helvetica_Neue_LT_Std_67_MdCd.svg#Helvetica Neue LT Std 67 Medium Condensed") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Helvetica Neue LT Std 67 Bold Condensed";
    src: url("../fonts/Helvetica_Neue_LT_Std_67_BdCd.eot"); /* IE9*/
    src: url("../fonts/Helvetica_Neue_LT_Std_67_BdCd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Helvetica_Neue_LT_Std_67_BdCd.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Helvetica_Neue_LT_Std_67_BdCd.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Helvetica_Neue_LT_Std_67_BdCd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Helvetica_Neue_LT_Std_67_BdCd.svg#Helvetica Neue LT Std 77 Bold Condensed") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Stint Ultra Condensed Regular";
    src: url("../fonts/StintUltraCondensed-Regular.eot"); /* IE9*/
    src: url("../fonts/StintUltraCondensed-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/StintUltraCondensed-Regular.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/StintUltraCondensed-Regular.woff") format("woff"), /* chrome、firefox */
    url("../fonts/StintUltraCondensed-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/StintUltraCondensed-Regular.svg#Stint Ultra Condensed Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Steelfish Regular";
    src: url("../fonts/Steelfish-Regular.eot"); /* IE9*/
    src: url("../fonts/Steelfish-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Steelfish-Regular.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Steelfish-Regular.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Steelfish-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Steelfish-Regular.svg#Steelfish Regular") format("svg"); /* iOS 4.1- */
}