@charset "utf-8";

/*
style.css

Copyright  2013-2016 by Juan Antonio Martinez ( juansgaviota at gmail dot com )

This program is free software; you can redistribute it and/or modify it under the terms 
of the GNU General Public License as published by the Free Software Foundation; 
either version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program; 
if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/

/***** Datos de la imagen de fondo ****/

#en_construccion {
    background: url('../images/en_construccion.png') no-repeat center;
}

/***** Datos del menu lateral *****/
#mysidebar {
	position: fixed;
	top: 60px;
	left: 10px;
	width: 200px;
	z-index: 1;
}

#mysidebar ul {
	border: 0 solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

#mysidebar ul li {
    background-color: #888;
    color: #fff;
}

#mysidebar ul li a {
    background-color: #00f;
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 15px;
}

#mysidebar ul li a:hover {
    background: #ff0;
    border-left: 10px solid #333;
    color: #000;
}

/********** Datos del area de trabajo ************/
/* marcador div del contenido. fija posicion */
#mycontent {
	/* border-style: inset; */
	position: fixed;
	top: 100px;
	left: 25px;
	width: 1024px;
	height: 640px;
}

img.mainpage{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**** centrar el texto de las clases dlg_xxxx *****/
.dialog_forms label {
	line-height: 25px;
	font-weight:bold;
}

.dialog_forms span {
	line-height: 25px;
	font-weight:bold;
}

/**** tamanyo de los select del formulario de datos de la manga manga */
.c_competicion-datosmanga {
	font-size: 11px;
}
.c_competicion-datosmanga input {
	font-size: 11px;
}
.c_competicion-datosmanga select {
	font-size: 11px;
}

/*** panel frm_clasificaciones2.php *****/

.main_theader {
	font-style: italic;
	font-weight: bold;
}

.resultados_border {
	border-collapse: separate;
	border-left: 1px solid #000;
}

#resultados-datagrid .datagrid-cell {
	font-size:0.1em;
}

/***** formulario informacion datos de la prueba ***/
.c_inscripciones-datosprueba {
	font-size: 12px;
	text-align: left;
}
.c_inscripciones-datosprueba input {
	font-size: 12px;
	color: #000;
	border:none;
	float: right;
}
.c_inscripciones-datosprueba select {
	font-size: 11px;
}

.trstrm {
	font-size: 9px;
}
.trstrm input {
	font-size: 9px;
	border: none;
}

.result_forms {
	font-size: 11px;
}
.result_forms input {
	font-size: 11px;
	border: none;
}
.result_forms label {
	font-weight:bold;
}
.result_forms select {
	font-size: 11px;
}

.search_textfield {
	width: 100px;
	background: url(/agility/lib/jquery-easyui-1.4.2/themes/icons/search.png) no-repeat scroll 2px 2px;
	padding-left:20px;
}

/****** Efectos especiales ****/
/* espacio adicional delante de un tag <label> */
.space {
	margin-left:50px;
}

/* rotacion de texto */
.rotate {
	-webkit-transform: rotate(-90deg); /* Safari */
	-moz-transform: rotate(-90deg); /* Firefox */
	-ms-transform: rotate(-90deg); /* IE */
	-o-transform: rotate(-90deg); /* Opera */
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* @group Blink */

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
/* tabulacion panel de configuracion */
#config-panel label {
	display: inline-block;
	width: 300px;
}

/* some decoration for file and backup buttons */

input.icon_button {
    background-color: rgba(240,240,240,128); /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 4px 4px;  /* equivalent to 'top left' */
    border: 1px solid lightblue;           /* assuming we don't want any borders */
	border-radius: 4px;
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-left: 24px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
/* @end */