@charset "utf-8";

/*
tablet.css

Copyright  2013-2018 by Juan Antonio Martinez ( juansgaviota at gmail dot com )

This program is free software; you can redistribute it and/or modify it under the terms 
of the GNU General Public License as published by the Free Software Foundation; 
either version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program; 
if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/

/*
* estilos asociados al tablet
*/

/* try to use hardware acceleration if available */
/* 
* {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
*/

.tablet_info {
	text-align: left;
	font-size: 1.5vw;
	font-weight: normal;
	border: 0;
	/* padding: 10px; */
}

.tablet_infoheader {
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	font-style: italic;
	border: 1px solid black;
}

input.tablet_info {
	font-size: 1.8vw;
	font-weight: bold;
}

.tablet_button {
	border: 5px solid black;
	text-align: center;
	vertical-align: bottom;
	font-size: 4.0vw;
	font-weight: bold;
	font-style: italic;
}
.tb_fnkey {
	border: 3px solid black;
	font-size: 2.50vw;
}

.tb_falta {
	background: #a0a0a0 url(/agility/images/falta.png) no-repeat center;
	background-size: contain;
}

.tb_rehuse {
	background: #a0a0a0 url(/agility/images/rehuse.png) no-repeat center;
	background-size: contain;
	font-size: 2.80vw;
}

.tb_tocado {
	background: #a0a0a0 url(/agility/images/tocado.png) no-repeat center;
	background-size: contain;
	font-size: 2.80vw;
}

.tb_eliminado {
	background: #ff0000 url(/agility/images/eliminado.png) no-repeat center;
	background-size: contain;
	font-size: 1.8vw;
}

.tb_nopresentado {
	background: #a0a000 url(/agility/images/nopresentado.png) no-repeat center;
	background-size: contain;
	font-size: 1.6vw;
}

.tb_salida {
	background: #8080f0 url(/agility/images/silbato.png) no-repeat center;
	background-size: contain;
	font-size: 2.0vw;
}

.tb_reset {
	background: #0000ff url(/agility/images/reset.png) no-repeat center;
	background-size: contain;
	font-size: 2.0vw;
}

.tb_crono {
	background: #00a0a0 url(/agility/images/crono.png) no-repeat center;
	background-size: contain;
	font-size: 1.75vw;
}

.tb_accept {
	background: #00a000 url(/agility/images/dog_accept.png) no-repeat center;
	background-size: contain;
	font-size: 2.0vw;
}

.tb_cancel {
	background: #f0a0a0 url(/agility/images/dog_cancel.png) no-repeat center;
	background-size: contain;
	font-size: 1.6vw;
}

.tablet_rectangulo {
    background-color: #0000ff;
    border: 3px solid black;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.tablet_data {
	text-align: center;
	font-size: 2.0vw;
	font-weight: bold;
	font-style: italic;
}

input.tablet_numbers {
	text-align: center;
	font-size: 3.0vw;
	font-weight: bold;
}

.nextdog-datagrid td {
	height:30px;
}
