/* estilos asociados al tablet */
#videowall_data {
	vertical-align: middle;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	border: none;
	border-width: 0px;
	z-index: 1;
}

.vw_label {
	text-align: left;
	background-color: transparent;
	color: white;
}

.vw_data {
	text-align: center;
	background-color: #c0c0c0;
	padding-top: 0px;
	color: white;
}

.vw_fondo {
    background-color: rgba(127,127,127,0.5);
    border: 3px solid black;
    border-radius: 25px;
}

#video-background {
	z-index: -100;
} 