/* estilos asociados al tablet */
.videowall_form {
	background-color: transparent;
	vertical-align: middle;
	text-align: left;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	color: white;
	border: none;
	border-width: 0px;
	padding:0;
}

label.videowall_form {
	z-index: 1;
}

input.videowall_form {
	font-size: 10px;
	outline:none; 
	margin-top: 5px;
	z-index: 1;
}

.videowall_rectangulo {
    background-color: rgba(127,127,127,0.5);
    border: 3px solid black;
    border-radius: 25px;
}

#video-background {
	z-index: -100;
} 